body {
    background-image: url("./images/pastelbg.jpg");
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
h1 { border: 2px solid #ff0000;
    padding: 5px; }
p {
    background-color: blueviolet;
    border-radius: 25px;}
#nav  {
    background-color: lightblue;
    padding: 1em;}
#header {
    padding: 1em;
    background-color: blue;
    text-align: center;
    border: 1px green
}
#section  {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green
}